<html lang="en" ng-app="forms">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body ng-controller="FormController as $ctrl">
<div class="wrapper">
    <div class="form-wrapper">
        <node node="$ctrl.grid"></node>
    </div>
    <div class="sidebar">
        <div>
            <div>set grid</div>
            <label> rows
                <input type="number" ng-model="rows">
            </label><br>
            <label> cols
                <input type="number" ng-model="cols">
            </label><br>
            <button ng-click="$ctrl.setGrid($ctrl.grid, rows, cols)">fill grid</button>
        </div>
        <!-- <input type="text" ng-repeat="row in node.rows" ng-model="row.height"> -->
        <node-controls node="$ctrl.grid"/>
        <!-- <div class="sidebar" ng-repeat="row in $ctrl.grid.rows track by $index">
            row {{$index}}
            <button ng-click="$ctrl.grid.deleteRow($index)">delete row</button>
            <button ng-click="row.addCol(2)">add col</button>
            <div ng-repeat="col in row.columns track by $index">
                <div ng-if="$parent.row.columns.length !== 1">
                    col {{$index}}
                    <button ng-if="row.columns.length !== 1" ng-click="row.deleteCol($index)">delete col</button>
                </div>
            </div>
        </div> -->
        <!-- <button class="save-btn" ng-click="$ctrl.export()">export</button> -->
        <!-- <input type="file"  file-uploader/> -->
    </div>
    <div>
    </div>

</div>
{{$ctrl.grid | json}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js" async onload="init()"></script>
</body>
</html>